<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.lecousin.dataorganizer.inforetriever">
      <retriever
            class="net.lecousin.dataorganizer.retrieve.cinefil.film.CineFilMoviePlugin"
            content_type_id="video"
            id="CineFil">
      </retriever>
      <retriever
            class="net.lecousin.dataorganizer.retrieve.cinefil.star.CineFilStarPlugin"
            content_type_id="people"
            id="CineFil">
      </retriever>
   </extension>

</plugin>
