<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.lecousin.dataorganizer.contenttype_action">
      <action
            content_type_id="video"
            provider="net.lecousin.dataorganizer.neufbox.mediacenter.MediaCenterActionProvider_Video">
      </action>
      <action
            content_type_id="audio"
            provider="net.lecousin.dataorganizer.neufbox.mediacenter.MediaCenterActionProvider_Audio">
      </action>
   </extension>

</plugin>
