<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="contenttype" name="Data Content Type" schema="schema/contenttype.exsd"/>
   <extension-point id="inforetriever" name="Data Info Retriever" schema="schema/inforetriever.exsd"/>
   <extension-point id="contenttype_action" name="Content Type Action" schema="schema/contenttype_action.exsd"/>
   <extension-point id="preference" name="DataOrganizer Preferences" schema="schema/preference.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.lecousin.dataorganizer.ui.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Classic"
            class="net.lecousin.dataorganizer.ui.views.ClassicPerspective"
            id="net.lecousin.dataorganizer.ClassicPerspective">
      </perspective>
      <perspective
            class="net.lecousin.dataorganizer.ui.views.DetailsPerspective"
            id="net.lecousin.dataorganizer.DetailsPerspective"
            name="Details">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Search"
            allowMultiple="false"
            class="net.lecousin.dataorganizer.ui.views.search.SearchView"
            id="net.lecousin.dataorganizer.searchView">
      </view>
      <view
            allowMultiple="false"
            class="net.lecousin.dataorganizer.ui.views.datalist.DataListView"
            id="net.lecousin.dataorganizer.datalistView"
            name="Data List">
      </view>
      <view
            allowMultiple="false"
            class="net.lecousin.dataorganizer.ui.views.dataoverview.DataOverviewView"
            id="net.lecousin.dataorganizer.dataDetailView"
            name="Overview">
      </view>
      <view
            class="net.lecousin.dataorganizer.ui.views.label.LabelsView"
            id="net.lecousin.dataorganizer.view.label.LabelsView"
            name="Labels"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.lecousin.dataorganizer.application"
            name="DataOrganizer">
         <property
               name="windowImages"
               value="icons/icon.gif">
         </property>
         <property
               name="appName"
               value="DataOrganizer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.lecousin.dataorganizer.ui.application.splash.InteractiveSplashHandler"
            id="net.lecousin.dataorganizer.ui.application.splash.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="net.lecousin.dataorganizer.product"
            splashId="net.lecousin.dataorganizer.ui.application.splash.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="net.lecousin.dataorganizer.preference">
      <page
            provider="net.lecousin.dataorganizer.ui.application.preferences.UpdatePageProvider">
      </page>
   </extension>

</plugin>
